/.metadata/
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\JsonServe
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\estudos_com_angular\node_modules
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\estudos_com_angular\node_modules
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\CursoFullStack_NelioAlves\MaterialDeApoio
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\Conceitos_Java\.mvn
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\.vscode
E:\ProjetosProgramacao_2023\ProjetosProgramacao_01_2023\node_modules