<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />



  <div class="row">
        <div class="col-sm-4">
                <div class="card" *ngFor="let oferta of oferta">
                        <img class="card-img-top" [src]="oferta.imagens[0].url">
                        <div class="card-block">
                                <h4 class="card-title">{{ oferta.titulo }}</h4>
                                <p class="card-text">{{ oferta.descricao_oferta }}</p>
                                <p class="preco">{{ oferta.valor }}</p>
                                <a href="#" class="btn btn-outline-primary">Ver oferta</a>
                        </div>
                </div>
        </div>
  </div>

  <h1>Aqui</h1>
  <app-bubble-sort-algorithm></app-bubble-sort-algorithm>

  <hr />
  
</div>


  <!--resultIsPowerTwo()

          <select (ngModel)="selectedOption">
        <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
        </select>
        <br>
        <table *ngIf="selectedOption">
                <tr *ngFor="let item of tableData">
                <td *ngIf="item.id == selectedOption">{{ item.id }}</td>
                <td *ngIf="item.id == selectedOption">{{ item.name }}</td>
                <td *ngIf="item.id == selectedOption">{{ item.description }}</td>
                </tr>
        </table>

-->


<!-- <p>{{ "resultIsPowerTwo()" }}</p> -->